@{
    ViewBag.Title = "Produto";
}
<fieldset style="padding-top=15px">
<ul>
    <li>@Html.ActionLink("Consultar Produto", "ConsultarProduto")</li>
    <li>@Html.ActionLink("Cadastrar Novo Produto", "CadastroProduto")</li>
</ul>

</fieldset>