@{
    ViewBag.Title = "Assistência Técnica";
}
<fieldset style="padding-top=15px">
<ul>
    <li>@Html.ActionLink("Consultar Assistencia Técnica", "ConsultarAssistenciaTecnica")</li>
</ul>

</fieldset>