@{
    ViewBag.Title = "Filial da Loja";
}
<fieldset style="padding-top=15px">
<ul>
    <li>@Html.ActionLink("Consultar Filial Loja", "ConsultarFilialLoja")</li>
    <li>@Html.ActionLink("Cadastrar Nova Filial Loja", "CadastroFilialLoja")</li>
</ul>

</fieldset>
